In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

pd=pd.read_csv('Ariel_MCS_Known_2024-07-09.csv')

In [16]:
import pandas as pd


df = pd.read_csv("Ariel_MCS_Known_2024-07-09.csv")

# count NAs per column (sorted, most NAs first)
na_counts = df.isna().sum().sort_values(ascending=False)


na_fraction = (df.isna().mean().sort_values(ascending=False))

print("NA counts:")
print(na_counts)

print("\nNA fraction:")
print(na_fraction)

NA counts:
Inferred Parameters              722
Star I Mag                       722
True Obliquity Error Lower       703
True Obliquity Error Upper       703
Eclipse Depth Error Upper [%]    702
                                ...
Transit Mid Time                   0
Periastron                         0
Eccentricity                       0
Star Mass [Ms]                     0
Max Tier                           0
Length: 197, dtype: int64

NA fraction:
Inferred Parameters              1.000000
Star I Mag                       1.000000
True Obliquity Error Lower       0.973684
True Obliquity Error Upper       0.973684
Eclipse Depth Error Upper [%]    0.972299
                                   ...
Transit Mid Time                 0.000000
Periastron                       0.000000
Eccentricity                     0.000000
Star Mass [Ms]                   0.000000
Max Tier                         0.000000
Length: 197, dtype: float64

In [18]:
# columns with the fewest NAs
least_na = df.isna().sum().sort_values(ascending=True)

print(least_na)

# if you only want columns with ZERO NAs
no_na_cols = least_na[least_na != 0]
print("\nColumns with zero NAs:")
print(no_na_cols)

Star Name                          0
Discovery Year                     0
Publication                        0
Publication Date                   0
Controversial Flag                 0
                                ...
Eclipse Depth Error Upper [%]    702
True Obliquity Error Lower       703
True Obliquity Error Upper       703
Star I Mag                       722
Inferred Parameters              722
Length: 197, dtype: int64

Columns with zero NAs:
Star Temperature Error Upper [K]               1
TIC ID                                         1
Planet Insolation Flux [W/m2]                  3
Planet Insolation Flux Error Upper [W/m2]      3
Total Proper Motion Error Lower [mas/yr]       3
                                            ...
Eclipse Depth Error Upper [%]                702
True Obliquity Error Lower                   703
True Obliquity Error Upper                   703
Star I Mag                                   722
Inferred Parameters                          722
Length: 107, dtype: int64

In [19]:
cols_with_nas = least_na[least_na != 0]
print("\nColumns with at least one NA:")
print(cols_with_nas)

Columns with at least one NA:
Star Temperature Error Upper [K]               1
TIC ID                                         1
Planet Insolation Flux [W/m2]                  3
Planet Insolation Flux Error Upper [W/m2]      3
Total Proper Motion Error Lower [mas/yr]       3
                                            ...
Eclipse Depth Error Upper [%]                702
True Obliquity Error Lower                   703
True Obliquity Error Upper                   703
Star I Mag                                   722
Inferred Parameters                          722
Length: 107, dtype: int64